In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score, precision_recall_curve, f1_score, confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
test_df.info(50)

NameError: name 'test_df' is not defined

In [3]:
# Load dataset
train_df = pd.read_csv("merged_cleaned_train_flight_weather_data.csv")
test_df = pd.read_csv("merged_cleaned_test_flight_weather_data.csv")

In [5]:
# Convert to datetime objects
test_df['departure.scheduledTime'] = pd.to_datetime(test_df['departure.scheduledTime'], errors='coerce')
test_df['arrival.actualTime'] = pd.to_datetime(test_df['arrival.actualTime'], errors='coerce')

In [7]:
# Compute delay in minutes for test data
test_df['departure.delay_minutes'] = (test_df['arrival.actualTime'] - test_df['departure.scheduledTime']).dt.total_seconds() / 60

In [ ]:
# Handle missing values
train_df.fillna(train_df.mean(), inplace=True)
test_df.fillna(test_df.mean(), inplace=True)

In [9]:


# Create binary target: on-time vs delayed
train_df['delay_status'] = train_df['departure.delay_minutes'].apply(lambda x: 'on-time' if x == 0 else 'delayed')
test_df['delay_status'] = test_df['departure.delay_minutes'].apply(lambda x: 'on-time' if x == 0 else 'delayed')

# Create multi-class target: delay categories
train_df['delay_category'] = pd.cut(train_df['departure.delay_minutes'], bins=[-1, 0, 45, 175, float('inf')],
                                    labels=['No Delay', 'Short Delay', 'Moderate Delay', 'Long Delay'])
test_df['delay_category'] = pd.cut(test_df['departure.delay_minutes'], bins=[-1, 0, 45, 175, float('inf')],
                                   labels=['No Delay', 'Short Delay', 'Moderate Delay', 'Long Delay'])

In [13]:

# Convert time columns to datetime
train_df['departure.scheduledTime'] = pd.to_datetime(train_df['departure.scheduledTime'])
train_df['arrival.scheduledTime'] = pd.to_datetime(train_df['arrival.scheduledTime'])
test_df['departure.scheduledTime'] = pd.to_datetime(test_df['departure.scheduledTime'])
test_df['arrival.scheduledTime'] = pd.to_datetime(test_df['arrival.scheduledTime'])

In [15]:


# Features and labels for binary classification
X_train_binary = train_df.drop(columns=['departure.delay_minutes', 'delay_status', 'status_encoded'])
y_train_binary = train_df['delay_status']
X_test_binary = test_df.drop(columns=['departure.delay_minutes', 'delay_status', 'status_encoded'])
y_test_binary = test_df['delay_status']

In [17]:
# Features and labels for multi-class classification
X_train_multi = train_df.drop(columns=['departure.delay_minutes', 'delay_category', 'status_encoded'])
y_train_multi = train_df['delay_category']
X_test_multi = test_df.drop(columns=['departure.delay_minutes', 'delay_category', 'status_encoded'])
y_test_multi = test_df['delay_category']

In [19]:
from sklearn.preprocessing import LabelEncoder

# Example of binary label encoding
label_encoder = LabelEncoder()
X_train_binary['departure.day_of_week_Monday'] = label_encoder.fit_transform(X_train_binary['departure.day_of_week_Monday'])
X_test_binary['departure.day_of_week_Monday'] = label_encoder.transform(X_test_binary['departure.day_of_week_Monday'])

In [28]:
# Use sparse matrices
X_train_binary = pd.get_dummies(X_train_binary, drop_first=True, sparse=True)
X_test_binary = pd.get_dummies(X_test_binary, drop_first=True, sparse=True)

In [ ]:

# Encode categorical variables
#X_train_binary = pd.get_dummies(X_train_binary, drop_first=True)
#X_test_binary = pd.get_dummies(X_test_binary, drop_first=True)
X_train_multi = pd.get_dummies(X_train_multi, drop_first=True,sparse=True)
X_test_multi = pd.get_dummies(X_test_multi, drop_first=True,sparse=True)

In [ ]:
# Standardize the data
scaler = StandardScaler()
X_train_binary_scaled = scaler.fit_transform(X_train_binary)
X_test_binary_scaled = scaler.transform(X_test_binary)
#X_train_multi_scaled = scaler.fit_transform(X_train_multi)
#X_test_multi_scaled = scaler.transform(X_test_multi)

In [66]:
print(train_df.info(50))
test_df.info(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51871 entries, 0 to 51870
Data columns (total 153 columns):
 #    Column                                        Dtype
---   ------                                        -----
 0    status                                        int64
 1    departure.iataCode                            object
 2    departure.icaoCode                            object
 3    departure.terminal                            object
 4    departure.scheduledTime                       datetime64[ns]
 5    departure.estimatedTime                       object
 6    departure.actualTime                          object
 7    departure.estimatedRunway                     object
 8    departure.actualRunway                        object
 9    arrival.scheduledTime                         datetime64[ns]
 10   arrival.estimatedTime                         object
 11   airline.iataCode                              object
 12   airline.icaoCode                              object
 13   flight.number                                 int64
 14   flight.iataNumber                             object
 15   flight.icaoNumber                             object
 16   arrival.actualTime                            object
 17   arrival.estimatedRunway                       object
 18   arrival.actualRunway                          object
 19   departure.delay_minutes                       float64
 20   departure.hour_of_day                         int64
 21   departure.month                               int64
 22   status_encoded                                int64
 23   departure.day_of_week_Monday                  bool
 24   departure.day_of_week_Saturday                bool
 25   departure.day_of_week_Sunday                  bool
 26   departure.day_of_week_Thursday                bool
 27   departure.day_of_week_Tuesday                 bool
 28   departure.day_of_week_Wednesday               bool
 29   airline.name_air arabia                       bool
 30   airline.name_air canada                       bool
 31   airline.name_air china ltd                    bool
 32   airline.name_air france                       bool
 33   airline.name_air hamburg                      bool
 34   airline.name_air mauritius                    bool
 35   airline.name_air seychelles                   bool
 36   airline.name_airact                           bool
 37   airline.name_airblue                          bool
 38   airline.name_airsial                          bool
 39   airline.name_alexandria airlines              bool
 40   airline.name_alitalia                         bool
 41   airline.name_american airlines                bool
 42   airline.name_ariana afghan airlines           bool
 43   airline.name_asg business aviation            bool
 44   airline.name_asiana airlines                  bool
 45   airline.name_azal azerbaijan airlines         bool
 46   airline.name_batik air                        bool
 47   airline.name_british airways                  bool
 48   airline.name_cham wings airlines              bool
 49   airline.name_china southern airlines          bool
 50   airline.name_compass cargo airlines           bool
 51   airline.name_danish air                       bool
 52   airline.name_egyptair                         bool
 53   airline.name_egyptair cargo                   bool
 54   airline.name_emirates                         bool
 55   airline.name_ethiopian airlines               bool
 56   airline.name_etihad airways                   bool
 57   airline.name_evelop airlines                  bool
 58   airline.name_fai rent-a-jet                   bool
 59   airline.name_fitsair                          bool
 60   airline.name_fly baghdad                      bool
 61   airline.name_fly pro                          bool
 62   airline.name_flydubai                         bool
 63   airline.name_flyjinnah                        bool
 64   airline.name_flynas                           bool
 65   airline.name_freebird airlines                bool
 66   airline.name_georgian airlines                bool
 67   airline.name_gulf air                         bool
 68   airline.name_gulf and caribbean cargo         bool
 69   airline.name_gulf wings                       bool
 70   airline.name_gullivair                        bool
 71   airline.name_harmony jets                     bool
 72   airline.name_hi fly                           bool
 73   airline.name_iberia                           bool
 74   airline.name_indigo                           bool
 75   airline.name_iran air                         bool
 76   airline.name_iraqi airways                    bool
 77   airline.name_jazeera airways                  bool
 78   airline.name_jetblue airways                  bool
 79   airline.name_kam air                          bool
 80   airline.name_kenya airways                    bool
 81   airline.name_klm                              bool
 82   airline.name_kuwait airways                   bool
 83   airline.name_lion air                         bool
 84   airline.name_mahan air                        bool
 85   airline.name_malaysia airlines                bool
 86   airline.name_maleth-aero                      bool
 87   airline.name_malindo air                      bool
 88   airline.name_maximus airlines                 bool
 89   airline.name_mng airlines                     bool
 90   airline.name_oman air                         bool
 91   airline.name_pakistan international airlines  bool
 92   airline.name_panorama airways                 bool
 93   airline.name_pegasus                          bool
 94   airline.name_privilege style                  bool
 95   airline.name_qatar airways                    bool
 96   airline.name_qeshm airlines                   bool
 97   airline.name_redstar aviation                 bool
 98   airline.name_royal air maroc                  bool
 99   airline.name_royal brunei airlines            bool
 100  airline.name_royal jordanian                  bool
 101  airline.name_rwandair                         bool
 102  airline.name_salamair                         bool
 103  airline.name_saudia                           bool
 104  airline.name_scat airlines                    bool
 105  airline.name_serene air                       bool
 106  airline.name_sf airlines                      bool
 107  airline.name_silk way airlines                bool
 108  airline.name_silk way west                    bool
 109  airline.name_smartlynx airlines               bool
 110  airline.name_smartwings                       bool
 111  airline.name_somon air                        bool
 112  airline.name_spicejet                         bool
 113  airline.name_srilankan airlines               bool
 114  airline.name_swiss air-ambulance              bool
 115  airline.name_thai airways international       bool
 116  airline.name_turkey - government              bool
 117  airline.name_turkish airlines                 bool
 118  airline.name_uls airlines cargo               bool
 119  airline.name_virgin australia                 bool
 120  airline.name_vistajet                         bool
 121  airline.name_wamos air                        bool
 122  airline.name_yto cargo airlines               bool
 123  Departure_Date                                object
 124  Departure_Month                               object
 125  Departure_Day                                 int64
 126  Departure_Hour                                int64
 127  Month                                         object
 128  Day                                           float64
 129  Temperature (°F) Max                          float64
 130  Temperature (°F) Avg                          float64
 131  Temperature (°F) Min                          float64
 132  Dew Point (°F) Max                            float64
 133  Dew Point (°F) Avg                            float64
 134  Dew Point (°F) Min                            float64
 135  Humidity (%) Max                              float64
 136  Humidity (%) Avg                              float64
 137  Humidity (%) Min                              float64
 138  Wind Speed (mph) Max                          float64
 139  Wind Speed (mph) Avg                          float64
 140  Wind Speed (mph) Min                          float64
 141  Pressure (in) Max                             float64
 142  Pressure (in) Avg                             float64
 143  Pressure (in) Min                             float64
 144  Precipitation (in) Total                      float64
 145  Departure_DayOfWeek_Monday                    bool
 146  Departure_DayOfWeek_Saturday                  bool
 147  Departure_DayOfWeek_Sunday                    bool
 148  Departure_DayOfWeek_Thursday                  bool
 149  Departure_DayOfWeek_Tuesday                   bool
 150  Departure_DayOfWeek_Wednesday                 bool
 151  delay_status                                  object
 152  delay_category                                category
dtypes: bool(106), category(1), datetime64[ns](2), float64(18), int64(7), object(19)
memory usage: 23.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 130 columns):
 #    Column                                        Dtype
---   ------                                        -----
 0    status                                        int64
 1    departure.iataCode                            object
 2    departure.icaoCode                            object
 3    departure.scheduledTime                       datetime64[ns]
 4    departure.estimatedRunway                     object
 5    departure.actualRunway                        object
 6    arrival.scheduledTime                         datetime64[ns]
 7    arrival.estimatedTime                         object
 8    airline.iataCode                              object
 9    airline.icaoCode                              object
 10   flight.number                                 int64
 11   flight.iataNumber                             object
 12   flight.icaoNumber                             object
 13   departure.terminal                            object
 14   arrival.actualTime                            datetime64[ns]
 15   arrival.estimatedRunway                       object
 16   arrival.actualRunway                          object
 17   departure.hour_of_day                         int64
 18   departure.month                               int64
 19   status_encoded                                int64
 20   departure.day_of_week_Monday                  bool
 21   departure.day_of_week_Saturday                bool
 22   departure.day_of_week_Sunday                  bool
 23   departure.day_of_week_Thursday                bool
 24   departure.day_of_week_Tuesday                 bool
 25   departure.day_of_week_Wednesday               bool
 26   airline.name_air arabia                       bool
 27   airline.name_air canada                       bool
 28   airline.name_air china ltd                    bool
 29   airline.name_air france                       bool
 30   airline.name_air mauritius                    bool
 31   airline.name_airact                           bool
 32   airline.name_airblue                          bool
 33   airline.name_airsial                          bool
 34   airline.name_alitalia                         bool
 35   airline.name_american airlines                bool
 36   airline.name_ariana afghan airlines           bool
 37   airline.name_asiana airlines                  bool
 38   airline.name_azal azerbaijan airlines         bool
 39   airline.name_batik air                        bool
 40   airline.name_british airways                  bool
 41   airline.name_cham wings airlines              bool
 42   airline.name_china southern airlines          bool
 43   airline.name_danish air                       bool
 44   airline.name_egyptair                         bool
 45   airline.name_emirates                         bool
 46   airline.name_empty                            bool
 47   airline.name_ethiopian airlines               bool
 48   airline.name_etihad airways                   bool
 49   airline.name_evelop airlines                  bool
 50   airline.name_fai rent-a-jet                   bool
 51   airline.name_fitsair                          bool
 52   airline.name_fly baghdad                      bool
 53   airline.name_flydubai                         bool
 54   airline.name_flyjinnah                        bool
 55   airline.name_flynas                           bool
 56   airline.name_georgian airlines                bool
 57   airline.name_gulf air                         bool
 58   airline.name_harmony jets                     bool
 59   airline.name_hi fly                           bool
 60   airline.name_iberia                           bool
 61   airline.name_iran air                         bool
 62   airline.name_iraqi airways                    bool
 63   airline.name_jazeera airways                  bool
 64   airline.name_jetblue airways                  bool
 65   airline.name_kam air                          bool
 66   airline.name_kenya airways                    bool
 67   airline.name_klm                              bool
 68   airline.name_kuwait airways                   bool
 69   airline.name_lion air                         bool
 70   airline.name_mahan air                        bool
 71   airline.name_malaysia airlines                bool
 72   airline.name_maleth-aero                      bool
 73   airline.name_malindo air                      bool
 74   airline.name_nomadic aviation                 bool
 75   airline.name_oman air                         bool
 76   airline.name_pakistan international airlines  bool
 77   airline.name_pegasus                          bool
 78   airline.name_privilege style                  bool
 79   airline.name_qatar airways                    bool
 80   airline.name_redstar aviation                 bool
 81   airline.name_royal air maroc                  bool
 82   airline.name_royal jordanian                  bool
 83   airline.name_rwandair                         bool
 84   airline.name_salamair                         bool
 85   airline.name_saudia                           bool
 86   airline.name_scat airlines                    bool
 87   airline.name_serene air                       bool
 88   airline.name_silk way airlines                bool
 89   airline.name_smartlynx airlines               bool
 90   airline.name_smartwings                       bool
 91   airline.name_somon air                        bool
 92   airline.name_srilankan airlines               bool
 93   airline.name_swiss air-ambulance              bool
 94   airline.name_thai airways international       bool
 95   airline.name_turkish airlines                 bool
 96   airline.name_uls airlines cargo               bool
 97   airline.name_virgin australia                 bool
 98   airline.name_yto cargo airlines               bool
 99   Departure_Date                                object
 100  Departure_Month                               object
 101  Departure_Day                                 int64
 102  Month                                         object
 103  Day                                           float64
 104  Temperature (°F) Max                          float64
 105  Temperature (°F) Avg                          float64
 106  Temperature (°F) Min                          float64
 107  Dew Point (°F) Max                            float64
 108  Dew Point (°F) Avg                            float64
 109  Dew Point (°F) Min                            float64
 110  Humidity (%) Max                              float64
 111  Humidity (%) Avg                              float64
 112  Humidity (%) Min                              float64
 113  Wind Speed (mph) Max                          float64
 114  Wind Speed (mph) Avg                          float64
 115  Wind Speed (mph) Min                          float64
 116  Pressure (in) Max                             float64
 117  Pressure (in) Avg                             float64
 118  Pressure (in) Min                             float64
 119  Precipitation (in) Total                      float64
 120  Departure_Hour                                int64
 121  Departure_DayOfWeek_Monday                    bool
 122  Departure_DayOfWeek_Saturday                  bool
 123  Departure_DayOfWeek_Sunday                    bool
 124  Departure_DayOfWeek_Thursday                  bool
 125  Departure_DayOfWeek_Tuesday                   bool
 126  Departure_DayOfWeek_Wednesday                 bool
 127  departure.delay_minutes                       float64
 128  delay_status                                  object
 129  delay_category                                category
dtypes: bool(85), category(1), datetime64[ns](3), float64(18), int64(7), object(16)
memory usage: 6.3+ MB

In [67]:
train_airline_columns = [col for col in train_df.columns if col.startswith('airline.name_')]
test_airline_columns = [col for col in test_df.columns if col.startswith('airline.name_')]

In [71]:
len(test_airline_columns)

73

In [75]:
# Ensure the list of airline columns is consistent with the test dataset
airline_columns = [col for col in test_df.columns if col.startswith('airline.name_')]

# Create a new column 'airline.name' by extracting the airline name from the boolean columns
def get_airline_name(row):
    for col in airline_columns:
        # Check if the column is in the dataframe and if the value is True
        if col in row and row[col]:
            return col.split('name_')[-1].replace('_', ' ')  # Get the airline name
    return 'Unknown'  # In case no airline column is True

# Apply the function to create the new column
test_df['airline.name'] = test_df.apply(get_airline_name, axis=1)

In [73]:
# Create a new column 'airline.name' by extracting the airline name from the boolean columns
def get_airline_name(row):
    for col in airline_columns:
        if row[col]:  # If the column is True
            return col.split('name_')[-1].replace('_', ' ')  # Get the airline name
    return 'Unknown'  # In case no airline column is True

#train_df['airline.name'] = train_df.apply(get_airline_name, axis=1)
test_df['airline.name'] = test_df.apply(get_airline_name, axis=1)

KeyError: 'airline.name_air hamburg'

In [44]:
train_df

,status,departure.iataCode,departure.icaoCode,departure.terminal,departure.scheduledTime,departure.estimatedTime,departure.actualTime,departure.estimatedRunway,departure.actualRunway,arrival.scheduledTime,...,Precipitation (in) Total,Departure_DayOfWeek_Monday,Departure_DayOfWeek_Saturday,Departure_DayOfWeek_Sunday,Departure_DayOfWeek_Thursday,Departure_DayOfWeek_Tuesday,Departure_DayOfWeek_Wednesday,delay_status,delay_category,airline.name
0,0,lhe,opla,m,2023-07-20 20:50:00,2023-07-20 20:00:00,2023-07-20 20:15:00,2023-07-20 20:15:00,2023-07-20 20:15:00,2023-07-20 23:20:00,...,0.0,False,False,False,True,False,False,delayed,NaN,saudia
1,0,lhe,opla,Unknown,2023-07-18 15:05:00,2023-07-18 15:05:00,2023-07-18 15:05:00,2023-07-20 20:15:00,2023-07-18 15:05:00,2023-07-18 16:50:00,...,0.0,False,False,False,False,True,False,on-time,No Delay,flyjinnah
2,0,lhe,opla,Unknown,2023-07-23 09:50:00,2023-07-18 15:05:00,2023-07-23 09:50:00,2023-07-20 20:15:00,2023-07-23 09:50:00,2023-07-23 11:35:00,...,0.0,False,False,True,False,False,False,on-time,No Delay,flyjinnah
3,0,lhe,opla,m,2023-07-26 23:30:00,2023-07-26 23:30:00,2023-07-26 23:51:00,2023-07-26 23:51:00,2023-07-26 23:51:00,2023-07-27 01:30:00,...,0.0,False,False,False,False,False,True,delayed,Short Delay,pakistan international airlines
4,0,lhe,opla,m,2023-07-20 11:35:00,2023-07-20 17:15:00,2023-07-20 17:15:00,2023-07-26 23:51:00,2023-07-20 11:35:00,2023-07-20 14:00:00,...,0.0,False,False,False,True,False,False,delayed,Long Delay,serene air
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51866,0,lhe,opla,Unknown,2023-11-16 09:50:00,2023-11-16 09:50:00,2023-11-16 10:03:00,2023-11-16 10:03:00,2023-11-16 10:03:00,2023-11-16 11:45:00,...,0.0,False,False,False,True,False,False,delayed,Short Delay,flyjinnah
51867,0,lhe,opla,m,2023-11-16 11:40:00,2023-11-16 11:40:00,2023-11-16 11:48:00,2023-11-16 11:48:00,2023-11-16 11:48:00,2023-11-16 15:25:00,...,0.0,False,False,False,True,False,False,delayed,Short Delay,saudia
51868,0,lhe,opla,m,2023-11-27 10:50:00,2023-11-27 14:35:00,2023-11-27 14:35:00,2023-11-16 11:48:00,2023-11-27 10:50:00,2023-11-27 13:30:00,...,0.0,True,False,False,False,False,False,delayed,Long Delay,pakistan international airlines
51869,0,lhe,opla,m,2023-11-19 02:00:00,2023-11-19 11:00:00,2023-11-19 11:00:00,2023-11-16 11:48:00,2023-11-19 02:00:00,2023-11-19 10:30:00,...,0.0,False,False,True,False,False,False,delayed,Long Delay,pakistan international airlines
51870,0,lhe,opla,m,2023-11-23 06:30:00,2023-11-23 06:30:00,2023-11-23 06:47:00,2023-11-23 06:47:00,2023-11-23 06:47:00,2023-11-23 10:10:00,...,0.0,False,False,False,True,False,False,delayed,Short Delay,pakistan international airlines

In [80]:
#train_df.drop(columns=airline_columns, inplace=True)

test_df.drop(columns=airline_columns, inplace=True)

In [114]:
print(train_df.info())
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51871 entries, 0 to 51870
Data columns (total 60 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           51871 non-null  int64
 1   departure.iataCode               51871 non-null  object
 2   departure.icaoCode               51871 non-null  object
 3   departure.terminal               51871 non-null  object
 4   departure.scheduledTime          51871 non-null  datetime64[ns]
 5   departure.estimatedTime          51871 non-null  object
 6   departure.actualTime             51871 non-null  object
 7   departure.estimatedRunway        51871 non-null  object
 8   departure.actualRunway           51871 non-null  object
 9   arrival.scheduledTime            51871 non-null  datetime64[ns]
 10  arrival.estimatedTime            51871 non-null  object
 11  airline.iataCode                 51871 non-null  object
 12  airline.icaoCode                 51871 non-null  object
 13  flight.number                    51871 non-null  int64
 14  flight.iataNumber                51871 non-null  object
 15  flight.icaoNumber                51871 non-null  object
 16  arrival.actualTime               51871 non-null  object
 17  arrival.estimatedRunway          50843 non-null  object
 18  arrival.actualRunway             51871 non-null  object
 19  departure.delay_minutes          51871 non-null  float64
 20  departure.hour_of_day            51871 non-null  int64
 21  departure.month                  51871 non-null  int64
 22  status_encoded                   51871 non-null  int64
 23  departure.day_of_week_Monday     51871 non-null  bool
 24  departure.day_of_week_Saturday   51871 non-null  bool
 25  departure.day_of_week_Sunday     51871 non-null  bool
 26  departure.day_of_week_Thursday   51871 non-null  bool
 27  departure.day_of_week_Tuesday    51871 non-null  bool
 28  departure.day_of_week_Wednesday  51871 non-null  bool
 29  Departure_Date                   51871 non-null  object
 30  Departure_Month                  51871 non-null  object
 31  Departure_Day                    51871 non-null  int64
 32  Departure_Hour                   51871 non-null  int64
 33  Month                            51871 non-null  object
 34  Day                              51871 non-null  float64
 35  Temperature (°F) Max             51871 non-null  float64
 36  Temperature (°F) Avg             51871 non-null  float64
 37  Temperature (°F) Min             51871 non-null  float64
 38  Dew Point (°F) Max               51871 non-null  float64
 39  Dew Point (°F) Avg               51871 non-null  float64
 40  Dew Point (°F) Min               51871 non-null  float64
 41  Humidity (%) Max                 51871 non-null  float64
 42  Humidity (%) Avg                 51871 non-null  float64
 43  Humidity (%) Min                 51871 non-null  float64
 44  Wind Speed (mph) Max             51871 non-null  float64
 45  Wind Speed (mph) Avg             51871 non-null  float64
 46  Wind Speed (mph) Min             51871 non-null  float64
 47  Pressure (in) Max                51871 non-null  float64
 48  Pressure (in) Avg                51871 non-null  float64
 49  Pressure (in) Min                51871 non-null  float64
 50  Precipitation (in) Total         51871 non-null  float64
 51  Departure_DayOfWeek_Monday       51871 non-null  bool
 52  Departure_DayOfWeek_Saturday     51871 non-null  bool
 53  Departure_DayOfWeek_Sunday       51871 non-null  bool
 54  Departure_DayOfWeek_Thursday     51871 non-null  bool
 55  Departure_DayOfWeek_Tuesday      51871 non-null  bool
 56  Departure_DayOfWeek_Wednesday    51871 non-null  bool
 57  delay_status                     51871 non-null  object
 58  delay_category                   47383 non-null  category
 59  airline.name                     51871 non-null  object
dtypes: bool(12), category(1), datetime64[ns](2), float64(18), int64(7), object(20)
memory usage: 19.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 58 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           14982 non-null  int64
 1   departure.iataCode               14982 non-null  object
 2   departure.icaoCode               14982 non-null  object
 3   departure.scheduledTime          14982 non-null  datetime64[ns]
 4   departure.estimatedRunway        8730 non-null   object
 5   departure.actualRunway           14982 non-null  object
 6   arrival.scheduledTime            14982 non-null  datetime64[ns]
 7   arrival.estimatedTime            8429 non-null   object
 8   airline.iataCode                 14976 non-null  object
 9   airline.icaoCode                 14981 non-null  object
 10  flight.number                    14982 non-null  int64
 11  flight.iataNumber                14976 non-null  object
 12  flight.icaoNumber                14981 non-null  object
 13  departure.terminal               14982 non-null  object
 14  arrival.actualTime               14982 non-null  datetime64[ns]
 15  arrival.estimatedRunway          75 non-null     object
 16  arrival.actualRunway             14982 non-null  object
 17  departure.hour_of_day            14982 non-null  int64
 18  departure.month                  14982 non-null  int64
 19  status_encoded                   14982 non-null  int64
 20  departure.day_of_week_Monday     14982 non-null  bool
 21  departure.day_of_week_Saturday   14982 non-null  bool
 22  departure.day_of_week_Sunday     14982 non-null  bool
 23  departure.day_of_week_Thursday   14982 non-null  bool
 24  departure.day_of_week_Tuesday    14982 non-null  bool
 25  departure.day_of_week_Wednesday  14982 non-null  bool
 26  Departure_Date                   14982 non-null  object
 27  Departure_Month                  14982 non-null  object
 28  Departure_Day                    14982 non-null  int64
 29  Month                            10360 non-null  object
 30  Day                              10360 non-null  float64
 31  Temperature (°F) Max             14982 non-null  float64
 32  Temperature (°F) Avg             14982 non-null  float64
 33  Temperature (°F) Min             14982 non-null  float64
 34  Dew Point (°F) Max               14982 non-null  float64
 35  Dew Point (°F) Avg               14982 non-null  float64
 36  Dew Point (°F) Min               14982 non-null  float64
 37  Humidity (%) Max                 14982 non-null  float64
 38  Humidity (%) Avg                 14982 non-null  float64
 39  Humidity (%) Min                 14982 non-null  float64
 40  Wind Speed (mph) Max             14982 non-null  float64
 41  Wind Speed (mph) Avg             14982 non-null  float64
 42  Wind Speed (mph) Min             14982 non-null  float64
 43  Pressure (in) Max                14982 non-null  float64
 44  Pressure (in) Avg                14982 non-null  float64
 45  Pressure (in) Min                14982 non-null  float64
 46  Precipitation (in) Total         14982 non-null  float64
 47  Departure_Hour                   14982 non-null  int64
 48  Departure_DayOfWeek_Monday       14982 non-null  bool
 49  Departure_DayOfWeek_Saturday     14982 non-null  bool
 50  Departure_DayOfWeek_Sunday       14982 non-null  bool
 51  Departure_DayOfWeek_Thursday     14982 non-null  bool
 52  Departure_DayOfWeek_Tuesday      14982 non-null  bool
 53  Departure_DayOfWeek_Wednesday    14982 non-null  bool
 54  departure.delay_minutes          14982 non-null  float64
 55  delay_status                     14982 non-null  object
 56  delay_category                   14922 non-null  category
 57  airline.name                     14982 non-null  object
dtypes: bool(12), category(1), datetime64[ns](3), float64(18), int64(7), object(17)
memory usage: 5.3+ MB

In [119]:
# Check if 'airline.name' column exists in test_df, and add it if missing
if 'airline.name' not in test_df.columns:
    # Generate airline name column based on boolean columns, assuming 'airline.name_' columns are present
    airline_columns = [col for col in train_df.columns if col.startswith('airline.name_')]  # List of airline columns
    def get_airline_name(row):
        for col in airline_columns:
            if col in row and row[col]:  # Ensure column is present in the row and the value is True
                return col.split('name_')[-1].replace('_', ' ')  # Extract airline name
        return 'Unknown'  # Default value if no airline column is True
    
    test_df['airline.name'] = test_df.apply(get_airline_name, axis=1)

# Check if 'airline.name' is still missing (e.g., due to different boolean columns in test_df)
if 'airline.name' not in test_df.columns:
    test_df['airline.name'] = 'Unknown'  # Assign default value if still missing

In [125]:
print(test_df)
print(train_df)

       status departure.iataCode departure.icaoCode departure.scheduledTime  \
0           0                lhe               opla     2023-07-17 20:35:00
1           0                lhe               opla     2023-07-27 08:00:00
2           0                lhe               opla     2023-07-27 08:00:00
3           2                lhe               opla     2023-07-28 16:45:00
4           0                lhe               opla     2023-07-19 04:15:00
...       ...                ...                ...                     ...
14977       0                lhe               opla     2023-11-23 23:15:00
14978       0                lhe               opla     2023-11-25 18:45:00
14979       0                lhe               opla     2023-11-25 02:55:00
14980       0                lhe               opla     2023-11-27 08:35:00
14981       0                lhe               opla     2023-11-26 01:45:00

      departure.estimatedRunway departure.actualRunway arrival.scheduledTime  \
0           2023-07-17 20:46:00    2023-07-17 20:46:00   2023-07-17 22:20:00
1                           NaN    2023-07-27 08:00:00   2023-07-27 10:00:00
2                           NaN    2023-07-27 08:00:00   2023-07-27 10:00:00
3                           NaN    2023-07-28 16:45:00   2023-07-28 20:30:00
4           2023-07-19 04:18:00    2023-07-19 04:18:00   2023-07-19 06:35:00
...                         ...                    ...                   ...
14977       2023-11-23 23:27:00    2023-11-23 23:27:00   2023-11-24 02:05:00
14978       2023-11-25 19:05:00    2023-11-25 19:05:00   2023-11-25 22:05:00
14979       2023-11-25 03:07:00    2023-11-25 03:07:00   2023-11-25 05:05:00
14980                       NaN    2023-11-27 08:35:00   2023-11-27 10:45:00
14981                       NaN    2023-11-26 01:45:00   2023-11-26 04:15:00

      arrival.estimatedTime airline.iataCode airline.icaoCode  ...  \
0       2023-07-17 22:12:00               9p              fjl  ...
1                       NaN               pk              pia  ...
2                       NaN               et              eth  ...
3                       NaN               pa              abq  ...
4       2023-07-19 06:08:00               kl              klm  ...
...                     ...              ...              ...  ...
14977   2023-11-24 01:34:00               pa              abq  ...
14978   2023-11-25 22:09:00               pk              pia  ...
14979   2023-11-25 04:33:00               ba              baw  ...
14980                   NaN               wy              oma  ...
14981                   NaN               w5              irm  ...

       Departure_DayOfWeek_Monday Departure_DayOfWeek_Saturday  \
0                            True                        False
1                           False                        False
2                           False                        False
3                           False                        False
4                           False                        False
...                           ...                          ...
14977                       False                        False
14978                       False                         True
14979                       False                         True
14980                        True                        False
14981                       False                        False

      Departure_DayOfWeek_Sunday Departure_DayOfWeek_Thursday  \
0                          False                        False
1                          False                         True
2                          False                         True
3                          False                        False
4                          False                        False
...                          ...                          ...
14977                      False                         True
14978                      False                        False
14979                      False                        False
14980                      False                        False
14981                       True                        False

      Departure_DayOfWeek_Tuesday Departure_DayOfWeek_Wednesday  \
0                           False                         False
1                           False                         False
2                           False                         False
3                           False                         False
4                           False                          True
...                           ...                           ...
14977                       False                         False
14978                       False                         False
14979                       False                         False
14980                       False                         False
14981                       False                         False

      departure.delay_minutes  delay_status  delay_category  \
0                        97.0       delayed  Moderate Delay
1                       120.0       delayed  Moderate Delay
2                       120.0       delayed  Moderate Delay
3                       225.0       delayed      Long Delay
4                       113.0       delayed  Moderate Delay
...                       ...           ...             ...
14977                   139.0       delayed  Moderate Delay
14978                   204.0       delayed      Long Delay
14979                    98.0       delayed  Moderate Delay
14980                   130.0       delayed  Moderate Delay
14981                   150.0       delayed  Moderate Delay

                          airline.name
0                            flyjinnah
1      pakistan international airlines
2                   ethiopian airlines
3                              airblue
4                                  klm
...                                ...
14977                          airblue
14978  pakistan international airlines
14979                  british airways
14980                         oman air
14981                        mahan air

[14982 rows x 58 columns]
       status departure.iataCode departure.icaoCode departure.terminal  \
0           0                lhe               opla                  m
1           0                lhe               opla            Unknown
2           0                lhe               opla            Unknown
3           0                lhe               opla                  m
4           0                lhe               opla                  m
...       ...                ...                ...                ...
51866       0                lhe               opla            Unknown
51867       0                lhe               opla                  m
51868       0                lhe               opla                  m
51869       0                lhe               opla                  m
51870       0                lhe               opla                  m

      departure.scheduledTime departure.estimatedTime departure.actualTime  \
0         2023-07-20 20:50:00     2023-07-20 20:00:00  2023-07-20 20:15:00
1         2023-07-18 15:05:00     2023-07-18 15:05:00  2023-07-18 15:05:00
2         2023-07-23 09:50:00     2023-07-18 15:05:00  2023-07-23 09:50:00
3         2023-07-26 23:30:00     2023-07-26 23:30:00  2023-07-26 23:51:00
4         2023-07-20 11:35:00     2023-07-20 17:15:00  2023-07-20 17:15:00
...                       ...                     ...                  ...
51866     2023-11-16 09:50:00     2023-11-16 09:50:00  2023-11-16 10:03:00
51867     2023-11-16 11:40:00     2023-11-16 11:40:00  2023-11-16 11:48:00
51868     2023-11-27 10:50:00     2023-11-27 14:35:00  2023-11-27 14:35:00
51869     2023-11-19 02:00:00     2023-11-19 11:00:00  2023-11-19 11:00:00
51870     2023-11-23 06:30:00     2023-11-23 06:30:00  2023-11-23 06:47:00

      departure.estimatedRunway departure.actualRunway arrival.scheduledTime  \
0           2023-07-20 20:15:00    2023-07-20 20:15:00   2023-07-20 23:20:00
1           2023-07-20 20:15:00    2023-07-18 15:05:00   2023-07-18 16:50:00
2           2023-07-20 20:15:00    2023-07-23 09:50:00   2023-07-23 11:35:00
3           2023-07-26 23:51:00    2023-07-26 23:51:00   2023-07-27 01:30:00
4           2023-07-26 23:51:00    2023-07-20 11:35:00   2023-07-20 14:00:00
...                         ...                    ...                   ...
51866       2023-11-16 10:03:00    2023-11-16 10:03:00   2023-11-16 11:45:00
51867       2023-11-16 11:48:00    2023-11-16 11:48:00   2023-11-16 15:25:00
51868       2023-11-16 11:48:00    2023-11-27 10:50:00   2023-11-27 13:30:00
51869       2023-11-16 11:48:00    2023-11-19 02:00:00   2023-11-19 10:30:00
51870       2023-11-23 06:47:00    2023-11-23 06:47:00   2023-11-23 10:10:00

       ... Precipitation (in) Total Departure_DayOfWeek_Monday  \
0      ...                      0.0                      False
1      ...                      0.0                      False
2      ...                      0.0                      False
3      ...                      0.0                      False
4      ...                      0.0                      False
...    ...                      ...                        ...
51866  ...                      0.0                      False
51867  ...                      0.0                      False
51868  ...                      0.0                       True
51869  ...                      0.0                      False
51870  ...                      0.0                      False

      Departure_DayOfWeek_Saturday  Departure_DayOfWeek_Sunday  \
0                            False                       False
1                            False                       False
2                            False                        True
3                            False                       False
4                            False                       False
...                            ...                         ...
51866                        False                       False
51867                        False                       False
51868                        False                       False
51869                        False                        True
51870                        False                       False

      Departure_DayOfWeek_Thursday Departure_DayOfWeek_Tuesday  \
0                             True                       False
1                            False                        True
2                            False                       False
3                            False                       False
4                             True                       False
...                            ...                         ...
51866                         True                       False
51867                         True                       False
51868                        False                       False
51869                        False                       False
51870                         True                       False

      Departure_DayOfWeek_Wednesday delay_status delay_category  \
0                             False      delayed            NaN
1                             False      on-time       No Delay
2                             False      on-time       No Delay
3                              True      delayed    Short Delay
4                             False      delayed     Long Delay
...                             ...          ...            ...
51866                         False      delayed    Short Delay
51867                         False      delayed    Short Delay
51868                         False      delayed     Long Delay
51869                         False      delayed     Long Delay
51870                         False      delayed    Short Delay

                          airline.name
0                               saudia
1                            flyjinnah
2                            flyjinnah
3      pakistan international airlines
4                           serene air
...                                ...
51866                        flyjinnah
51867                           saudia
51868  pakistan international airlines
51869  pakistan international airlines
51870  pakistan international airlines

[51871 rows x 60 columns]

In [127]:
# Create a single column for the day of the week using numeric representation or categories
day_of_week_columns = [
    'Departure_DayOfWeek_Monday',
    'Departure_DayOfWeek_Saturday',
    'Departure_DayOfWeek_Sunday',
    'Departure_DayOfWeek_Thursday',
    'Departure_DayOfWeek_Tuesday',
    'Departure_DayOfWeek_Wednesday'
]

# Map each column to a numeric value for day of the week
day_map = {
    'Departure_DayOfWeek_Monday': 0,
    'Departure_DayOfWeek_Tuesday': 1,
    'Departure_DayOfWeek_Wednesday': 2,
    'Departure_DayOfWeek_Thursday': 3,
    'Departure_DayOfWeek_Friday': 4,
    'Departure_DayOfWeek_Saturday': 5,
    'Departure_DayOfWeek_Sunday': 6
}

In [129]:
# Create a new column for the day of the week by checking which boolean column is True
def get_day_of_week(row):
    for col in day_of_week_columns:
        if row[col]:
            return day_map[col]  # Return the corresponding day number
    return -1  # In case no day column is True

# Apply the function to both train and test dataframes
train_df['departure.day_of_week'] = train_df.apply(get_day_of_week, axis=1)
test_df['departure.day_of_week'] = test_df.apply(get_day_of_week, axis=1)

In [131]:

# Drop the individual day-of-week boolean columns
train_df.drop(columns=day_of_week_columns, inplace=True)
test_df.drop(columns=day_of_week_columns, inplace=True)

# Verify the result
print(train_df[['departure.day_of_week']].head())
print(test_df[['departure.day_of_week']].head())

   departure.day_of_week
0                      3
1                      1
2                      6
3                      2
4                      3
   departure.day_of_week
0                      0
1                      3
2                      3
3                     -1
4                      2

In [139]:
train_df.info()
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51871 entries, 0 to 51870
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           51871 non-null  int64
 1   departure.iataCode               51871 non-null  object
 2   departure.icaoCode               51871 non-null  object
 3   departure.terminal               51871 non-null  object
 4   departure.scheduledTime          51871 non-null  datetime64[ns]
 5   departure.estimatedTime          51871 non-null  object
 6   departure.actualTime             51871 non-null  object
 7   departure.estimatedRunway        51871 non-null  object
 8   departure.actualRunway           51871 non-null  object
 9   arrival.scheduledTime            51871 non-null  datetime64[ns]
 10  arrival.estimatedTime            51871 non-null  object
 11  airline.iataCode                 51871 non-null  object
 12  airline.icaoCode                 51871 non-null  object
 13  flight.number                    51871 non-null  int64
 14  flight.iataNumber                51871 non-null  object
 15  flight.icaoNumber                51871 non-null  object
 16  arrival.actualTime               51871 non-null  object
 17  arrival.estimatedRunway          50843 non-null  object
 18  arrival.actualRunway             51871 non-null  object
 19  departure.delay_minutes          51871 non-null  float64
 20  departure.hour_of_day            51871 non-null  int64
 21  departure.month                  51871 non-null  int64
 22  status_encoded                   51871 non-null  int64
 23  departure.day_of_week_Monday     51871 non-null  bool
 24  departure.day_of_week_Saturday   51871 non-null  bool
 25  departure.day_of_week_Sunday     51871 non-null  bool
 26  departure.day_of_week_Thursday   51871 non-null  bool
 27  departure.day_of_week_Tuesday    51871 non-null  bool
 28  departure.day_of_week_Wednesday  51871 non-null  bool
 29  Departure_Date                   51871 non-null  object
 30  Departure_Month                  51871 non-null  object
 31  Departure_Day                    51871 non-null  int64
 32  Departure_Hour                   51871 non-null  int64
 33  Month                            51871 non-null  object
 34  Day                              51871 non-null  float64
 35  Temperature (°F) Max             51871 non-null  float64
 36  Temperature (°F) Avg             51871 non-null  float64
 37  Temperature (°F) Min             51871 non-null  float64
 38  Dew Point (°F) Max               51871 non-null  float64
 39  Dew Point (°F) Avg               51871 non-null  float64
 40  Dew Point (°F) Min               51871 non-null  float64
 41  Humidity (%) Max                 51871 non-null  float64
 42  Humidity (%) Avg                 51871 non-null  float64
 43  Humidity (%) Min                 51871 non-null  float64
 44  Wind Speed (mph) Max             51871 non-null  float64
 45  Wind Speed (mph) Avg             51871 non-null  float64
 46  Wind Speed (mph) Min             51871 non-null  float64
 47  Pressure (in) Max                51871 non-null  float64
 48  Pressure (in) Avg                51871 non-null  float64
 49  Pressure (in) Min                51871 non-null  float64
 50  Precipitation (in) Total         51871 non-null  float64
 51  delay_status                     51871 non-null  object
 52  delay_category                   47383 non-null  category
 53  airline.name                     51871 non-null  object
 54  departure.day_of_week            51871 non-null  int64
dtypes: bool(6), category(1), datetime64[ns](2), float64(18), int64(8), object(20)
memory usage: 19.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           14982 non-null  int64
 1   departure.iataCode               14982 non-null  object
 2   departure.icaoCode               14982 non-null  object
 3   departure.scheduledTime          14982 non-null  datetime64[ns]
 4   departure.estimatedRunway        8730 non-null   object
 5   departure.actualRunway           14982 non-null  object
 6   arrival.scheduledTime            14982 non-null  datetime64[ns]
 7   arrival.estimatedTime            8429 non-null   object
 8   airline.iataCode                 14976 non-null  object
 9   airline.icaoCode                 14981 non-null  object
 10  flight.number                    14982 non-null  int64
 11  flight.iataNumber                14976 non-null  object
 12  flight.icaoNumber                14981 non-null  object
 13  departure.terminal               14982 non-null  object
 14  arrival.actualTime               14982 non-null  datetime64[ns]
 15  arrival.estimatedRunway          75 non-null     object
 16  arrival.actualRunway             14982 non-null  object
 17  departure.hour_of_day            14982 non-null  int64
 18  departure.month                  14982 non-null  int64
 19  status_encoded                   14982 non-null  int64
 20  departure.day_of_week_Monday     14982 non-null  bool
 21  departure.day_of_week_Saturday   14982 non-null  bool
 22  departure.day_of_week_Sunday     14982 non-null  bool
 23  departure.day_of_week_Thursday   14982 non-null  bool
 24  departure.day_of_week_Tuesday    14982 non-null  bool
 25  departure.day_of_week_Wednesday  14982 non-null  bool
 26  Departure_Date                   14982 non-null  object
 27  Departure_Month                  14982 non-null  object
 28  Departure_Day                    14982 non-null  int64
 29  Month                            10360 non-null  object
 30  Day                              10360 non-null  float64
 31  Temperature (°F) Max             14982 non-null  float64
 32  Temperature (°F) Avg             14982 non-null  float64
 33  Temperature (°F) Min             14982 non-null  float64
 34  Dew Point (°F) Max               14982 non-null  float64
 35  Dew Point (°F) Avg               14982 non-null  float64
 36  Dew Point (°F) Min               14982 non-null  float64
 37  Humidity (%) Max                 14982 non-null  float64
 38  Humidity (%) Avg                 14982 non-null  float64
 39  Humidity (%) Min                 14982 non-null  float64
 40  Wind Speed (mph) Max             14982 non-null  float64
 41  Wind Speed (mph) Avg             14982 non-null  float64
 42  Wind Speed (mph) Min             14982 non-null  float64
 43  Pressure (in) Max                14982 non-null  float64
 44  Pressure (in) Avg                14982 non-null  float64
 45  Pressure (in) Min                14982 non-null  float64
 46  Precipitation (in) Total         14982 non-null  float64
 47  Departure_Hour                   14982 non-null  int64
 48  departure.delay_minutes          14982 non-null  float64
 49  delay_status                     14982 non-null  object
 50  delay_category                   14922 non-null  category
 51  airline.name                     14982 non-null  object
 52  departure.day_of_week            14982 non-null  int64
dtypes: bool(6), category(1), datetime64[ns](3), float64(18), int64(8), object(17)
memory usage: 5.4+ MB
None

In [157]:
train_df['departure.estimatedRunway']

0        2023-07-20 20:15:00
1        2023-07-20 20:15:00
2        2023-07-20 20:15:00
3        2023-07-26 23:51:00
4        2023-07-26 23:51:00
                ...
51866    2023-11-16 10:03:00
51867    2023-11-16 11:48:00
51868    2023-11-16 11:48:00
51869    2023-11-16 11:48:00
51870    2023-11-23 06:47:00
Name: departure.estimatedRunway, Length: 51871, dtype: object

In [171]:
print(train_df['departure.day_of_week'].value_counts())
test_df['departure.day_of_week'].value_counts()

departure.day_of_week
 6    7612
-1    7523
 3    7491
 5    7446
 1    7335
 2    7260
 0    7204
Name: count, dtype: int64

departure.day_of_week
 3    2244
-1    2194
 1    2164
 6    2149
 0    2101
 5    2085
 2    2045
Name: count, dtype: int64

In [159]:
train_df.info()
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51871 entries, 0 to 51870
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           51871 non-null  int64
 1   departure.iataCode               51871 non-null  object
 2   departure.icaoCode               51871 non-null  object
 3   departure.terminal               51871 non-null  object
 4   departure.scheduledTime          51871 non-null  datetime64[ns]
 5   departure.estimatedTime          51871 non-null  object
 6   departure.actualTime             51871 non-null  object
 7   departure.estimatedRunway        51871 non-null  object
 8   departure.actualRunway           51871 non-null  object
 9   arrival.scheduledTime            51871 non-null  datetime64[ns]
 10  arrival.estimatedTime            51871 non-null  object
 11  airline.iataCode                 51871 non-null  object
 12  airline.icaoCode                 51871 non-null  object
 13  flight.number                    51871 non-null  int64
 14  flight.iataNumber                51871 non-null  object
 15  flight.icaoNumber                51871 non-null  object
 16  arrival.actualTime               51871 non-null  object
 17  arrival.estimatedRunway          50843 non-null  object
 18  arrival.actualRunway             51871 non-null  object
 19  departure.delay_minutes          51871 non-null  float64
 20  departure.hour_of_day            51871 non-null  int64
 21  departure.month                  51871 non-null  int64
 22  status_encoded                   51871 non-null  int64
 23  departure.day_of_week_Monday     51871 non-null  bool
 24  departure.day_of_week_Saturday   51871 non-null  bool
 25  departure.day_of_week_Sunday     51871 non-null  bool
 26  departure.day_of_week_Thursday   51871 non-null  bool
 27  departure.day_of_week_Tuesday    51871 non-null  bool
 28  departure.day_of_week_Wednesday  51871 non-null  bool
 29  Departure_Date                   51871 non-null  object
 30  Departure_Month                  51871 non-null  object
 31  Departure_Day                    51871 non-null  int64
 32  Departure_Hour                   51871 non-null  int64
 33  Month                            51871 non-null  object
 34  Day                              51871 non-null  float64
 35  Temperature (°F) Max             51871 non-null  float64
 36  Temperature (°F) Avg             51871 non-null  float64
 37  Temperature (°F) Min             51871 non-null  float64
 38  Dew Point (°F) Max               51871 non-null  float64
 39  Dew Point (°F) Avg               51871 non-null  float64
 40  Dew Point (°F) Min               51871 non-null  float64
 41  Humidity (%) Max                 51871 non-null  float64
 42  Humidity (%) Avg                 51871 non-null  float64
 43  Humidity (%) Min                 51871 non-null  float64
 44  Wind Speed (mph) Max             51871 non-null  float64
 45  Wind Speed (mph) Avg             51871 non-null  float64
 46  Wind Speed (mph) Min             51871 non-null  float64
 47  Pressure (in) Max                51871 non-null  float64
 48  Pressure (in) Avg                51871 non-null  float64
 49  Pressure (in) Min                51871 non-null  float64
 50  Precipitation (in) Total         51871 non-null  float64
 51  delay_status                     51871 non-null  object
 52  delay_category                   47383 non-null  category
 53  airline.name                     51871 non-null  object
 54  departure.day_of_week            51871 non-null  int64
dtypes: bool(6), category(1), datetime64[ns](2), float64(18), int64(8), object(20)
memory usage: 19.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   status                           14982 non-null  int64
 1   departure.iataCode               14982 non-null  object
 2   departure.icaoCode               14982 non-null  object
 3   departure.scheduledTime          14982 non-null  datetime64[ns]
 4   departure.estimatedRunway        8730 non-null   object
 5   departure.actualRunway           14982 non-null  object
 6   arrival.scheduledTime            14982 non-null  datetime64[ns]
 7   arrival.estimatedTime            8429 non-null   object
 8   airline.iataCode                 14976 non-null  object
 9   airline.icaoCode                 14981 non-null  object
 10  flight.number                    14982 non-null  int64
 11  flight.iataNumber                14976 non-null  object
 12  flight.icaoNumber                14981 non-null  object
 13  departure.terminal               14982 non-null  object
 14  arrival.actualTime               14982 non-null  datetime64[ns]
 15  arrival.estimatedRunway          75 non-null     object
 16  arrival.actualRunway             14982 non-null  object
 17  departure.hour_of_day            14982 non-null  int64
 18  departure.month                  14982 non-null  int64
 19  status_encoded                   14982 non-null  int64
 20  departure.day_of_week_Monday     14982 non-null  bool
 21  departure.day_of_week_Saturday   14982 non-null  bool
 22  departure.day_of_week_Sunday     14982 non-null  bool
 23  departure.day_of_week_Thursday   14982 non-null  bool
 24  departure.day_of_week_Tuesday    14982 non-null  bool
 25  departure.day_of_week_Wednesday  14982 non-null  bool
 26  Departure_Date                   14982 non-null  object
 27  Departure_Month                  14982 non-null  object
 28  Departure_Day                    14982 non-null  int64
 29  Month                            10360 non-null  object
 30  Day                              10360 non-null  float64
 31  Temperature (°F) Max             14982 non-null  float64
 32  Temperature (°F) Avg             14982 non-null  float64
 33  Temperature (°F) Min             14982 non-null  float64
 34  Dew Point (°F) Max               14982 non-null  float64
 35  Dew Point (°F) Avg               14982 non-null  float64
 36  Dew Point (°F) Min               14982 non-null  float64
 37  Humidity (%) Max                 14982 non-null  float64
 38  Humidity (%) Avg                 14982 non-null  float64
 39  Humidity (%) Min                 14982 non-null  float64
 40  Wind Speed (mph) Max             14982 non-null  float64
 41  Wind Speed (mph) Avg             14982 non-null  float64
 42  Wind Speed (mph) Min             14982 non-null  float64
 43  Pressure (in) Max                14982 non-null  float64
 44  Pressure (in) Avg                14982 non-null  float64
 45  Pressure (in) Min                14982 non-null  float64
 46  Precipitation (in) Total         14982 non-null  float64
 47  Departure_Hour                   14982 non-null  int64
 48  departure.delay_minutes          14982 non-null  float64
 49  delay_status                     14982 non-null  object
 50  delay_category                   14922 non-null  category
 51  airline.name                     14982 non-null  object
 52  departure.day_of_week            14982 non-null  int64
dtypes: bool(6), category(1), datetime64[ns](3), float64(18), int64(8), object(17)
memory usage: 5.4+ MB
None

In [163]:
train_df['departure.day_of_week_Monday']

0        False
1        False
2        False
3        False
4        False
         ...
51866    False
51867    False
51868     True
51869    False
51870    False
Name: departure.day_of_week_Monday, Length: 51871, dtype: bool

In [165]:
# Define the mapping for each boolean column to the corresponding day number
day_map = {
    'departure.day_of_week_Monday': 0,
    'departure.day_of_week_Saturday': 5,
    'departure.day_of_week_Sunday': 6,
    'departure.day_of_week_Thursday': 3,
    'departure.day_of_week_Tuesday': 1,
    'departure.day_of_week_Wednesday': 2
}

# Define the list of boolean columns (days of the week)
day_of_week_columns = [
    'departure.day_of_week_Monday', 'departure.day_of_week_Saturday',
    'departure.day_of_week_Sunday', 'departure.day_of_week_Thursday',
    'departure.day_of_week_Tuesday', 'departure.day_of_week_Wednesday'
]

In [167]:
# Function to map boolean columns into a single day of the week number
def get_day_of_week(row):
    for col in day_of_week_columns:
        if row[col]:
            return day_map[col]  # Return the corresponding day number
    return -1  # In case no day column is True (shouldn't happen if the data is consistent)

# Apply the function to both train and test dataframes
train_df['departure.day_of_week'] = train_df.apply(get_day_of_week, axis=1)
test_df['departure.day_of_week'] = test_df.apply(get_day_of_week, axis=1)

In [169]:

# Drop the original boolean day-of-week columns
train_df.drop(columns=day_of_week_columns, inplace=True)
test_df.drop(columns=day_of_week_columns, inplace=True)

# Verify the result
print(train_df[['departure.day_of_week']].head())
print(test_df[['departure.day_of_week']].head())

   departure.day_of_week
0                      3
1                      1
2                      6
3                      2
4                      3
   departure.day_of_week
0                      0
1                      3
2                      3
3                     -1
4                      2

In [ ]:
# Verify the result
print(train_df[['departure.day_of_week']].head())
print(test_df[['departure.day_of_week']].head())

In [173]:
import pandas as pd

# Function to extract the day of the week from the scheduled time
def extract_day_of_week_from_time(row):
    # Use 'departure.scheduledTime' if the 'departure.day_of_week' is -1
    if row['departure.day_of_week'] == -1:
        return row['departure.scheduledTime'].weekday()  # Returns an integer (0 = Monday, 6 = Sunday)
    return row['departure.day_of_week']

# Apply the function to both train and test dataframes
train_df['departure.day_of_week'] = train_df.apply(extract_day_of_week_from_time, axis=1)
test_df['departure.day_of_week'] = test_df.apply(extract_day_of_week_from_time, axis=1)

# Verify the result to see if -1 values have been fixed
print(train_df['departure.day_of_week'].value_counts())
print(test_df['departure.day_of_week'].value_counts())

departure.day_of_week
6    7612
4    7523
3    7491
5    7446
1    7335
2    7260
0    7204
Name: count, dtype: int64
departure.day_of_week
3    2244
4    2194
1    2164
6    2149
0    2101
5    2085
2    2045
Name: count, dtype: int64

In [192]:
print(train_df.info(50))
print(test_df.info(50))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51871 entries, 0 to 51870
Data columns (total 49 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   status                     51871 non-null  int64
 1   departure.iataCode         51871 non-null  object
 2   departure.icaoCode         51871 non-null  object
 3   departure.terminal         51871 non-null  object
 4   departure.scheduledTime    51871 non-null  datetime64[ns]
 5   departure.estimatedTime    51871 non-null  object
 6   departure.actualTime       51871 non-null  object
 7   departure.estimatedRunway  51871 non-null  object
 8   departure.actualRunway     51871 non-null  object
 9   arrival.scheduledTime      51871 non-null  datetime64[ns]
 10  arrival.estimatedTime      51871 non-null  object
 11  airline.iataCode           51871 non-null  object
 12  airline.icaoCode           51871 non-null  object
 13  flight.number              51871 non-null  int64
 14  flight.iataNumber          51871 non-null  object
 15  flight.icaoNumber          51871 non-null  object
 16  arrival.actualTime         51871 non-null  object
 17  arrival.estimatedRunway    50843 non-null  object
 18  arrival.actualRunway       51871 non-null  object
 19  departure.delay_minutes    51871 non-null  float64
 20  departure.hour_of_day      51871 non-null  int64
 21  departure.month            51871 non-null  int64
 22  status_encoded             51871 non-null  int64
 23  Departure_Date             51871 non-null  object
 24  Departure_Month            51871 non-null  object
 25  Departure_Day              51871 non-null  int64
 26  Departure_Hour             51871 non-null  int64
 27  Month                      51871 non-null  object
 28  Day                        51871 non-null  float64
 29  Temperature (°F) Max       51871 non-null  float64
 30  Temperature (°F) Avg       51871 non-null  float64
 31  Temperature (°F) Min       51871 non-null  float64
 32  Dew Point (°F) Max         51871 non-null  float64
 33  Dew Point (°F) Avg         51871 non-null  float64
 34  Dew Point (°F) Min         51871 non-null  float64
 35  Humidity (%) Max           51871 non-null  float64
 36  Humidity (%) Avg           51871 non-null  float64
 37  Humidity (%) Min           51871 non-null  float64
 38  Wind Speed (mph) Max       51871 non-null  float64
 39  Wind Speed (mph) Avg       51871 non-null  float64
 40  Wind Speed (mph) Min       51871 non-null  float64
 41  Pressure (in) Max          51871 non-null  float64
 42  Pressure (in) Avg          51871 non-null  float64
 43  Pressure (in) Min          51871 non-null  float64
 44  Precipitation (in) Total   51871 non-null  float64
 45  delay_status               51871 non-null  object
 46  delay_category             47383 non-null  category
 47  airline.name               51871 non-null  object
 48  departure.day_of_week      51871 non-null  int64
dtypes: category(1), datetime64[ns](2), float64(18), int64(8), object(20)
memory usage: 19.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14982 entries, 0 to 14981
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   status                     14982 non-null  int64
 1   departure.iataCode         14982 non-null  object
 2   departure.icaoCode         14982 non-null  object
 3   departure.scheduledTime    14982 non-null  datetime64[ns]
 4   departure.estimatedRunway  8730 non-null   object
 5   departure.actualRunway     14982 non-null  object
 6   arrival.scheduledTime      14982 non-null  datetime64[ns]
 7   arrival.estimatedTime      8429 non-null   object
 8   airline.iataCode           14976 non-null  object
 9   airline.icaoCode           14981 non-null  object
 10  flight.number              14982 non-null  int64
 11  flight.iataNumber          14976 non-null  object
 12  flight.icaoNumber          14981 non-null  object
 13  departure.terminal         14982 non-null  object
 14  arrival.actualTime         14982 non-null  datetime64[ns]
 15  arrival.estimatedRunway    75 non-null     object
 16  arrival.actualRunway       14982 non-null  object
 17  departure.hour_of_day      14982 non-null  int64
 18  departure.month            14982 non-null  int64
 19  status_encoded             14982 non-null  int64
 20  Departure_Date             14982 non-null  object
 21  Departure_Month            14982 non-null  object
 22  Departure_Day              14982 non-null  int64
 23  Month                      10360 non-null  object
 24  Day                        10360 non-null  float64
 25  Temperature (°F) Max       14982 non-null  float64
 26  Temperature (°F) Avg       14982 non-null  float64
 27  Temperature (°F) Min       14982 non-null  float64
 28  Dew Point (°F) Max         14982 non-null  float64
 29  Dew Point (°F) Avg         14982 non-null  float64
 30  Dew Point (°F) Min         14982 non-null  float64
 31  Humidity (%) Max           14982 non-null  float64
 32  Humidity (%) Avg           14982 non-null  float64
 33  Humidity (%) Min           14982 non-null  float64
 34  Wind Speed (mph) Max       14982 non-null  float64
 35  Wind Speed (mph) Avg       14982 non-null  float64
 36  Wind Speed (mph) Min       14982 non-null  float64
 37  Pressure (in) Max          14982 non-null  float64
 38  Pressure (in) Avg          14982 non-null  float64
 39  Pressure (in) Min          14982 non-null  float64
 40  Precipitation (in) Total   14982 non-null  float64
 41  Departure_Hour             14982 non-null  int64
 42  departure.delay_minutes    14982 non-null  float64
 43  delay_status               14982 non-null  object
 44  delay_category             14922 non-null  category
 45  airline.name               14982 non-null  object
 46  departure.day_of_week      14982 non-null  int64
dtypes: category(1), datetime64[ns](3), float64(18), int64(8), object(17)
memory usage: 5.3+ MB
None

In [190]:
# Save the cleaned train and test dataframes to CSV files
train_df.to_csv('merged_features_drop_cleaned_train_data.csv', index=False)
test_df.to_csv('merged_features_drop_cleaned_test_data.csv', index=False)

# Optionally, print confirmation
print("Data saved successfully!")

Data saved successfully!

In [194]:
train_df['binary_delay'] = train_df['departure.delay_minutes'].apply(lambda x: 'on-time' if x == 0 else 'delayed')

In [196]:
from sklearn.model_selection import train_test_split

X = train_df.drop(['departure.delay_minutes', 'binary_delay'], axis=1)
y = train_df['binary_delay']

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [202]:
X.dtypes

status                                int64
departure.iataCode                   object
departure.icaoCode                   object
departure.terminal                   object
departure.scheduledTime      datetime64[ns]
departure.estimatedTime              object
departure.actualTime                 object
departure.estimatedRunway            object
departure.actualRunway               object
arrival.scheduledTime        datetime64[ns]
arrival.estimatedTime                object
airline.iataCode                     object
airline.icaoCode                     object
flight.number                         int64
flight.iataNumber                    object
flight.icaoNumber                    object
arrival.actualTime                   object
arrival.estimatedRunway              object
arrival.actualRunway                 object
departure.hour_of_day                 int64
departure.month                       int64
status_encoded                        int64
Departure_Date                       object
Departure_Month                      object
Departure_Day                         int64
Departure_Hour                        int64
Month                                object
Day                                 float64
Temperature (°F) Max                float64
Temperature (°F) Avg                float64
Temperature (°F) Min                float64
Dew Point (°F) Max                  float64
Dew Point (°F) Avg                  float64
Dew Point (°F) Min                  float64
Humidity (%) Max                    float64
Humidity (%) Avg                    float64
Humidity (%) Min                    float64
Wind Speed (mph) Max                float64
Wind Speed (mph) Avg                float64
Wind Speed (mph) Min                float64
Pressure (in) Max                   float64
Pressure (in) Avg                   float64
Pressure (in) Min                   float64
Precipitation (in) Total            float64
delay_status                         object
delay_category                     category
airline.name                         object
departure.day_of_week                 int64
dtype: object